<table class="table table-bordered table-striped">
     <thead>
          <tr class="text-center">
               <td scope="col">Game</td>
               <td scope="col">Game Date</td>
               <td scope="col">Energy Type</td>
               <td scope="col">Time</td>
          </tr>
     </thead>
     <tbody class="table-group-divider text-center">
          @for (data of GameData; track $index) {
          <tr>
               <td>{{$index + 1 }}</td>
               <td>{{data.gameDate}}</td>
               <td>{{data.energyType}}</td>
               <td>{{data.score}}</td>
          </tr>

          }

     </tbody>
</table>