.contenedor-side {
     width: 280px;
     height: auto;
     background-color: #f8f9fa;
     position: sticky;
     top: 0;
}

.user {
     position: fixed;
     bottom: 0;
     width: 280px;
     margin: 10px 0;
}