<div class="d-flex flex-column justify-content-between p-3 bg-light contenedor-side">
     <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32">
               <use xlink:href="#bootstrap"></use>
          </svg>
          <h1 class="fs-4 fw-bol">RenovaQuest</h1>
     </a>
     <hr>
     <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
               <a [routerLink]="['GameMaster']" class="nav-link link-dark" aria-current="page">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="icon icon-tabler icons-tabler-outline icon-tabler-device-gamepad-2">
                         <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                         <path
                              d="M12 5h3.5a5 5 0 0 1 0 10h-5.5l-4.015 4.227a2.3 2.3 0 0 1 -3.923 -2.035l1.634 -8.173a5 5 0 0 1 4.904 -4.019h3.4z" />
                         <path d="M14 15l4.07 4.284a2.3 2.3 0 0 0 3.925 -2.023l-1.6 -8.232" />
                         <path d="M8 9v2" />
                         <path d="M7 10h2" />
                         <path d="M14 10h2" />
                    </svg>
                    Game Master
               </a>
          </li>
          <li>
               <a [routerLink]="['Panel']" class="nav-link link-dark p-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="icon icon-tabler icons-tabler-outline icon-tabler-layout-dashboard">
                         <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                         <path d="M5 4h4a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1v-6a1 1 0 0 1 1 -1" />
                         <path d="M5 16h4a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1v-2a1 1 0 0 1 1 -1" />
                         <path d="M15 12h4a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1v-6a1 1 0 0 1 1 -1" />
                         <path d="M15 4h4a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1v-2a1 1 0 0 1 1 -1" />
                    </svg>
                    Dashboard
               </a>
          </li>
          <li>
               <a [routerLink]="['powerBi']" class="nav-link link-dark p-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32" id="power-bi">
                         <path
                              d="M28 12.378v10.386a2.982 2.982 0 0 1-1.423 2.552 2.988 2.988 0 0 1-2.919.132l-1.105-.553a1 1 0 0 1 .895-1.789l1.105.553c.451.226.83.044.973-.043a.993.993 0 0 0 .474-.852V12.378c0-.412-.259-.788-.644-.935l-17-6.476a.987.987 0 0 0-.923.112.987.987 0 0 0-.433.823V15a1 1 0 0 1-2 0V5.902a3 3 0 0 1 4.068-2.803l17 6.476A3.016 3.016 0 0 1 28 12.378zM18 11.5a1.5 1.5 0 0 0-1.5 1.5v15a1.5 1.5 0 1 0 3 0V13a1.5 1.5 0 0 0-1.5-1.5zm-4 2a1.5 1.5 0 0 0-1.5 1.5v11a1.5 1.5 0 1 0 3 0V15a1.5 1.5 0 0 0-1.5-1.5zm-4 2A1.5 1.5 0 0 0 8.5 17v7a1.5 1.5 0 1 0 3 0v-7a1.5 1.5 0 0 0-1.5-1.5zm-4 2A1.5 1.5 0 0 0 4.5 19v3a1.5 1.5 0 1 0 3 0v-3A1.5 1.5 0 0 0 6 17.5z">
                         </path>
                    </svg>
                    Power Bi
               </a>
          </li>

     </ul>

     <div class="dropdown user">
          <hr>
          <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
               id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
               <img src="{{user.image}}" alt="" width="32" height="32" class="rounded-circle me-2">
               <strong>{{user.username}}</strong>
          </a>
          <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">

               <li><button class="dropdown-item" (click)="Salir()">Sign out</button></li>
          </ul>
     </div>
</div>