<div class="contenedor-info">
     <img loading="lazy" src="{{user.image}}" alt="">
     <div class="info">
          <span class="userName">{{user.username}}</span>
          <div class="row text-center">
               <div class="col">
                    <h3>EXPERIENCE</h3>
                    <p>200 EXP</p>
               </div>
               <div class="col">
                    <h3>BADGES</h3>
                    <p>1</p>
               </div>
               <div class="col">
                    <h3>LEVEL</h3>
                    <p>200 EXP</p>
               </div>
          </div>

     </div>
</div>
<div class="contenedor-logros">
     <a [routerLink]="['Logros']">BADGES</a>
     <a [routerLink]="['Partidas']">GAMES</a>
</div>
<hr>
<br>
<router-outlet></router-outlet>