<div class="contenedor-info">
     <img src="{{user.image}}" alt="">
     <div class="info">
          <span>{{user.username}}</span>
          <div class="row text-center">
               <div class="col">
                    <h3>Total experiencia</h3>
               </div>
               <div class="col">
                    <h3>Logros</h3>
               </div>
               <div class="col">
                    <h3>Level</h3>
               </div>
          </div>

     </div>
</div>
<div class="contenedor-logros">
     <a [routerLink]="['Logros']">BADGES</a>
     <a [routerLink]="['Partidas']">GAMES</a>
</div>
<hr>
<br>
<router-outlet></router-outlet>