<body>
	<div class="box">
		<form autocomplete="off" >
			<h2>RENOVAQUEST</h2>
			<div class="inputBox">
				<input type="text" [(ngModel)]="loginObj.Username" name="Username" required="required">
				<span>EMAIL o USERNAME</span>
				<i></i>
			</div>
			<div class="inputBox">
				<input type="password" [(ngModel)]="loginObj.Password" name="Password" required="required">
				<span>CONTRASEÑA</span>
				<i></i>
			</div>

			<button type="button" (click)="onLogin()">INICIAR SESION</button>
      <div class="links">
        <span>¿No tienes una cuenta?</span>
        <a href="#">Registrate</a>
      </div>
		</form>
	</div>

</body>
