<body>
	<div class="box">
		<form autocomplete="off" >
			<h2>RENOVAQUEST</h2>
			<div class="inputBox">
				<input type="text" [(ngModel)]="loginObj.Username" name="Username" required>
				<span>EMAIL or USERNAME</span>
				<i></i>
			</div>
			<div class="inputBox">
				<input type="password" [(ngModel)]="loginObj.Password" name="Password" required="required">
				<span>PASSWORD</span>
				<i></i>
			</div>

			<button type="button" (click)="onLogin()">LOGIN</button>
      <div class="links">
        <span>Don't have an account?</span>
        <a [routerLink]="['/signUp']">Sign Up</a>
      </div>
		</form>
	</div>

</body>
