@if(Badges.length > 0){
@for(logro of Badges; track logro.id){

<div class="logro d-flex flex-row p-3 gap-3 ">
     <img loading=" lazy" src="{{logro.image}}" alt="">
     <div>
          <div>
               <h3>{{logro.nameBadge |uppercase}}</h3>
               <p>{{logro.description }}</p>

          </div>
          <div class="d-flex gap-4 text-center">
               <div>
                    <h4>BADGE PROGRESS</h4>
                    <b><span class=" text-center">{{logro.completed}}</span></b>
               </div>
               <div>
                    <h4>EXPERIENCE GAINED</h4>
                    <b><span class="text-center">{{logro.experience}} EXP</span></b>
               </div>
          </div>
     </div>
</div>
<br>
}
}@else {
<h3>No has conseguido ningun logro</h3>
}