<div class="todo">
     <div class="container">
          <nav class="row">
               <button [routerLink]="['farm']" class="col entidad active">Farm</button>
               <button [routerLink]="['device']" class="col entidad">Device</button>
               <button [routerLink]="['farmer']" class="col entidad">Farmer</button>
               <button [routerLink]="['energyLog']" class="col entidad">EnergyLog</button>
               <button [routerLink]="['energyMeter']" class="col entidad">EnergyMeter</button>

          </nav>
     </div>
     <router-outlet></router-outlet>
</div>